security_hub_master_profile: 111111111111_AWSAdministratorAccess
security_hub_member_profiles:
  - 111111111111_AWSAdministratorAccess
  - 111111111111_AWSAdministratorAccess
  - 111111111111_AWSAdministratorAccess
  - 111111111111_AWSAdministratorAccess
  - 111111111111_AWSAdministratorAccess
  - 111111111111_AWSAdministratorAccess
regions:
  - ap-south-1
  - ap-northeast-1
  - ap-southeast-1
  - ap-northeast-1
  - ca-central-1
  - eu-central-1
  - eu-west-1
  - eu-west-2
  - eu-west-3
  - eu-north-1
  - sa-east-1
  - us-east-1
  - us-east-2
  - us-west-1
  - us-west-2